# Ignore Python cache files
_pycache_/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
.venv/

# Ignore environment variable file
.env

# Ignore Chroma DB folder (optional, local database files)
chroma_financial_db1/
# Ignore Chroma DB folder (optional, local database files)
chroma_financial_db/

# Ignore VSCode workspace settings (optional)
.v